<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="andreasneokleous.com.securepath">


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CrimeMapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDMXXYxVf9ia06pCZXe-kqQFSpb736i86g" />

        <activity
            android:name=".DirectionsPoliceActivity"
            android:label="@string/title_activity_maps__directions_" />
        <activity
            android:name=".DirectionsSparkActivity"
            android:label="@string/title_activity_spark_map" />
        <activity
            android:name=".DirectionsPredictActivity"
            android:label="@string/title_activity_directions_predict"></activity>
    </application>

</manifest>